.forms-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.forms-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 55%;
}

.forms-title {
    text-align: center;
}

.forms-title .progress{
    width: 350px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .forms-content {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .forms-title .progress{
        width: 100%
    }
}

@media (max-width: 397px) {
    .forms-content {
        width: 100%;
        padding: 0 10px;
    }
}

