/*body {*/
/*  margin: 0;*/
/*  themes-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-themes-smoothing: antialiased;*/
/*  -moz-osx-themes-smoothing: grayscale;*/
/*}*/

/*code {*/
/*  themes-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
@import "./styles/themes/os-theme.css";
@import "./styles/text/os-text.css";
@import "./styles/common/os-common.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
